#voice_chats {
	position: absolute;
	left: 30px;
	bottom: 50%;
	height: 200px;
	overflow: clip;
	display: flex;
	flex-direction: column-reverse;
	align-items: start;
	margin-bottom: 15px;
}

.voice_chat {
	background-color: #0000003d;
	border-radius: 5px;
	position: relative;
	margin-top: 5px;
	padding: 5px 15px 5px 45px;
	background-image: url('./sound.png');
	background-repeat: no-repeat;
	background-size: 20px;
	background-position: 15px 50%;
}

.voice_chat_image {
	width: 22px;
	height: 22px;
	background-size: 100%;
	border-radius: 5px;
	vertical-align: middle;
	margin-left: 5px;
}

.voice_chat_name {
	font-size: 18px;
	vertical-align: middle;
	margin-left: 10px;
	line-height: 30px;
}