#weapon_ammo_container {
	display: none;
	position: absolute;
	right: 30px;
	bottom: 30px;
	height: 55px;
	background-color: #0000003d;
	border-radius: 5px;
	text-align: right;
	padding: 0px 10px;
	font-weight: bold;
	gap: 5px;
	align-items: center;
	font-variant-numeric: tabular-nums;
}

#weapon_ammo_container img {
	height: 30px;
	margin-right: 10px;
}

#weapon_ammo_separator {
	font-size: 16px;
	margin-top: 12px;
}

#weapon_ammo_bag {
	font-size: 16px;
	margin-top: 12px;
}

#weapon_ammo_clip {
	font-size: 36px;
}