#notifications {
	position: absolute;
	left: 30px;
	width: 550px;
	top: 50%;
	height: 200px;
	overflow: clip;
	display: flex;
	flex-direction: column-reverse;
	align-items: start;
	margin-top: 15px;
}

.notification {
	background-color: #0000003d;
	border-radius: 5px;
	position: relative;
	margin-top: 5px;
	padding: 10px 15px;
	font-size: 18px;
	font-weight: normal;
}