#spawn_menu {
	display: none;
	position: absolute;
	top: 150px;
	left: 200px;
	right: 200px;
	bottom: 150px;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 5px 5px 0 5px;
}

#spawn_list {
	padding: 5px 20px 5px 10px;
	overflow-y: overlay;
	overflow-x: hidden;
	position: absolute;
	bottom: 0;
	top: 60px;
	left: 60px;
	right: 0;
	grid-template-columns: repeat(auto-fill, 100px);
	grid-template-rows: auto auto 1fr;
	justify-content: space-between;
	display: grid;
	grid-gap: 5px;
}

.spawn_item {
	cursor: pointer;
	width: 100px;
    height: 140px;
	padding: 5px;
	text-align: center;
	display: inline-block;
	border-radius: 5px;
}

.spawn_item:hover {
	background-color: #c1c1c147;
}

.spawn_item_image {
	display: inline-block;
	width: 100%;
	height: 100px;
	background-size: 100% auto;
	background-position: 50%;
	pointer-events: none;
	background-repeat: no-repeat;
	border-radius: 1px;
}

.spawn_item_name {
	text-align: center;
	display: inline-block;
	font-size: 12px;
	margin-top: 5px;
	overflow: hidden;
	height: 30px;
	pointer-events: none;
	word-wrap: break-word;
}

#spawn_categories {
	background-color: rgba(0, 0, 0, 0.1);
	width: 60px;
	position: absolute;
	bottom: 0;
	top: 60px;
	left: 0;
	overflow-y: overlay;
}

.spawn_category {
	display: block;
	margin: 14px;
	cursor: pointer;
	text-align: center;
	background-image: url('./images/tabs/chair.png');
	height: 40px;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: 50%;
	filter: grayscale(100%);
	opacity: 0.8;
}

.spawn_category.active {
	cursor: default;
	pointer-events: none;
	filter: none;
	opacity: 1.0;
}

#spawn_options {
	background-color: rgba(0, 0, 0, 0.1);
	width: 200px;
	position: absolute;
	bottom: 0;
	top: 60px;
	right: 0;
	overflow-y: overlay;
	overflow-x: hidden;
	display: none;
}

.spawn_option {
	padding: 15px;
	display: block;
	background-color: rgba(0, 0, 0, 0.25);
}

.spawn_option_label {
	margin-bottom: 10px;
	display: block;
}

.spawn_option_checkbox {
	display: block;
	grid-template-columns: repeat(auto-fill, 40px);
	justify-content: space-between;
	display: grid;
	grid-gap: 10px;
	max-height: 300px;
	overflow-y: overlay;
	padding: 3px;
}

.spawn_option_checkbox_item {
	width: 40px;
	height: 40px;
	display: inline-block;
	cursor: pointer;
	background-size: 100%;
}

.spawn_option_checkbox_item.selected {
	outline: 3px solid #fff;
}

#tabs {
	height: 60px;
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 5px 5px 0 0;
	text-align: center;
	font-size: 20px;
	overflow-y: overlay;
}

.tab {
	cursor: pointer;
	display: inline-block;
	height: 100%;
	padding: 0px 20px;
	line-height: 60px;
	filter: grayscale(100%);
	opacity: 0.8;
}

.tab.active {
	color: #e8b656;
	cursor: default;
	pointer-events: none;
	filter: none;
	opacity: 1.0;
}

.tab.disabled {
	color: #999999;
	cursor: default;
	pointer-events: none;
}

.tab_name {
	pointer-events: none;
}

.tab img {
	width: 25px;
	pointer-events: none;
	vertical-align: middle;
	margin: 0 10px 2px 0;
}

#label {
	background-color: #0000007d;
	position: absolute;
	bottom: -30px;
	right: 0;
	padding: 5px 10px;
	opacity: 0;
	font-size: 14px;
	height: 20px;
}