:root {
	--spawn_menu_item_width: 120px;
}

#spawn_menu {
	display: none;
	position: absolute;
	top: 150px;
	left: 200px;
	right: 200px;
	bottom: 150px;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 5px 5px 0 5px;
}

.spawn_menu_list {
	position: absolute;
	bottom: 0;
	top: 60px;
	left: 60px;
	right: 0;
	overflow-y: overlay;
	overflow-x: hidden;
	margin: 20px 10px 20px 20px;
	padding-right: 10px;
}

.spawn_menu_content_category {
	background-color: rgba(0, 0, 0, 0.1);
	margin-bottom: 20px;
	border-radius: 5px;
	padding: 20px;
	display: none;
}

.spawn_menu_content_category:has(.spawn_item.spawn_item_visible) {
	display: block;
}

.spawn_menu_items {
	grid-template-columns: repeat(auto-fill, var(--spawn_menu_item_width));
	grid-template-rows: auto auto 1fr;
	justify-content: space-between;
	display: grid;
}

.spawn_item {
	cursor: pointer;
	height: calc(var(--spawn_menu_item_width) + 30px);
	text-align: center;
	display: none;
	border-radius: 5px;
}

.spawn_item.spawn_item_visible {
	display: inline-block;
}

.spawn_item:hover {
	background-color: #c1c1c147;
}

.spawn_item_image {
	display: inline-block;
	width: calc(var(--spawn_menu_item_width) - 10px);
	height: calc(var(--spawn_menu_item_width) - 10px);
	background-size: 100% auto;
	background-position: 50%;
	pointer-events: none;
	background-repeat: no-repeat;
	border-radius: 5px;
	margin: 5px 0;
}

.spawn_item_name {
	text-align: center;
	display: inline-block;
	font-size: 12px;
	overflow: hidden;
	height: 30px;
	pointer-events: none;
	word-wrap: break-word;
}

.spawn_menu_content_tab {
	display: none;
}

.spawn_menu_categories {
	background-color: rgba(0, 0, 0, 0.1);
	width: 60px;
	position: absolute;
	bottom: 0;
	top: 60px;
	left: 0;
	overflow-y: overlay;
}

.spawn_category {
	display: block;
	cursor: pointer;
	text-align: center;
	background-size: 30px;
	background-repeat: no-repeat;
	background-position: 50%;
	filter: grayscale(100%);
	opacity: 0.7;
	width: 30px;
	height: 30px;
	padding: 10px 15px;
}

.spawn_category.active {
	/* cursor: default;
	pointer-events: none; */
	filter: none;
	opacity: 1.0;
}

.spawn_menu_divider {
	display: flex;
	align-items: center;
	text-align: center;
	font-size: 20px;
	font-family: 'Righteous', sans-serif;
	margin-bottom: 20px;
}

.spawn_menu_divider::after,
.spawn_menu_divider::before {
	content: "";
	border: 1px solid #ffffff7e;
	flex: 1;
}

.spawn_menu_divider::before {
	margin-right: 15px;
}

.spawn_menu_divider::after {
	margin-left: 15px;
}

#tabs {
	height: 60px;
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 5px 5px 0 0;
	text-align: center;
	font-size: 20px;
	overflow-y: overlay;
}

.tab {
	cursor: pointer;
	display: inline-block;
	height: 100%;
	padding: 0px 20px;
	line-height: 60px;
	filter: grayscale(100%);
	opacity: 0.8;
}

.tab.active {
	color: #e8b656;
	cursor: default;
	pointer-events: none;
	filter: none;
	opacity: 1.0;
}

.tab.disabled {
	color: #999999;
	cursor: default;
	pointer-events: none;
}

.tab_name {
	pointer-events: none;
}

.tab img {
	width: 25px;
	pointer-events: none;
	vertical-align: middle;
	margin: 0 10px 2px 0;
}

#message {
	position: absolute;
	top: 50%;
	text-align: center;
	width: 100%;
	font-size: 32px;
	font-family: 'Righteous', sans-serif;
}

#label {
	background-color: #0000007d;
	position: absolute;
	bottom: -30px;
	right: 0;
	padding: 5px 10px;
	display: none;
	font-size: 14px;
	height: 20px;
	border-radius: 0 0 5px 5px;
}

#spawn_menu #search {
	position: absolute;
	top: 15px;
	left: 20px;
}

#spawn_menu #search #search_input {
	height: 30px;
	border: none;
	border-radius: 5px;
	padding: 10px;
	color: #000;
  	background-color: #cecece;
}

#spawn_menu #search #search_input::-webkit-search-cancel-button {
	-webkit-appearance: none;

	height: 20px;
	width: 20px;
	border-radius: 100%;
	margin-right: -5px;
	margin-left: 5px;
	border: none;
	cursor: pointer;
	background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='currentColor' viewBox='0 0 24 24'%3E%3Cpath fill-rule='evenodd' d='M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm7.707-3.707a1 1 0 0 0-1.414 1.414L10.586 12l-2.293 2.293a1 1 0 1 0 1.414 1.414L12 13.414l2.293 2.293a1 1 0 0 0 1.414-1.414L13.414 12l2.293-2.293a1 1 0 0 0-1.414-1.414L12 10.586 9.707 8.293Z' clip-rule='evenodd'/%3E%3C/svg%3E%0A");
	background-size: 20px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}