#health_container {
	position: absolute;
	bottom: 30px;
	left: 30px;
	height: 55px;
	background-color: #0000003d;
	border-radius: 5px;
	padding: 0px 10px;
	min-width: 80px;
	display: flex;
	align-items: center;
	gap: 15px;
	font-size: 36px;
	font-weight: bold;
	font-variant-numeric: tabular-nums;
}

#health_container img {
	height: 25px;
}