#health_container {
	position: absolute;
	bottom: 30px;
	left: 30px;
	height: 55px;
	background-color: #0000003d;
	border-radius: 5px;
	line-height: 60px;
	padding: 0px 10px;
	min-width: 90px;
}

#health_container img {
	height: 25px;
	margin-right: 5px;
}

#health_current {
	font-size: 30px;
	font-weight: bold;
}