* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Gothic A1', sans-serif;
	font-size: 14px;
	margin: 0px;
	padding: 0px;
	color: #ffffffe6;
	user-select: none;
}

#voice_chats {
	position: absolute;
	left: 30px;
	bottom: 50%;
	height: 200px;
	overflow: clip;
	display: flex;
	flex-direction: column-reverse;
	align-items: start;
	margin-bottom: 15px;
}

#spawn_menu {
	display: none;
	position: absolute;
	top: 150px;
	left: 200px;
	right: 200px;
	bottom: 150px;
	background-color: rgba(0, 0, 0, 0.5);
}

.voice_chat {
	background-color: #0000003d;
	position: relative;
	margin-top: 5px;
	padding: 10px 15px 10px 45px;
	font-size: 18px;
	font-weight: normal;
	background-image: url('./images/sound.png');
	background-repeat: no-repeat;
	background-size: 20px;
	background-position: 15px 50%;
}

#notifications {
	position: absolute;
	left: 30px;
	width: 550px;
	top: 50%;
	height: 200px;
	overflow: clip;
	display: flex;
	flex-direction: column-reverse;
	align-items: start;
	margin-top: 15px;
}

.notification {
	background-color: #0000003d;
	position: relative;
	margin-top: 5px;
	padding: 10px 15px;
	font-size: 18px;
	font-weight: normal;
}

#weapon_ammo_container {
	display: none;
	position: absolute;
	right: 30px;
	bottom: 30px;
	height: 55px;
	background-color: #0000003d;
	text-align: right;
	padding: 0px 10px;
}

#weapon_ammo_separator {
	font-weight: bold;
	font-size: 16px;
}

#weapon_ammo_bag {
	font-weight: bold;
	font-size: 16px;
}

#weapon_ammo_clip {
	font-weight: bold;
	font-size: 32px;
	line-height: 55px;
}

#health_container {
	position: absolute;
	bottom: 30px;
	left: 30px;
	height: 55px;
	background-color: #0000003d;
	line-height: 60px;
	padding: 0px 10px;
	min-width: 90px;
}

#health_container img {
	height: 25px;
	margin-right: 5px;
}

#health_current {
	font-size: 30px;
	font-weight: bold;
}


#spawn_list {
	padding: 5px 20px 5px 10px;
	overflow-y: scroll;
	overflow-x: hidden;
	position: absolute;
	bottom: 0;
	top: 60px;
	left: 60px;
	right: 0;
	grid-template-columns: repeat(auto-fill, 100px);
	justify-content: space-between;
	display: grid;
	grid-gap: 5px;
}

.spawn_item {
	cursor: pointer;
	width: 100px;
	padding: 5px;
	text-align: center;
	display: inline-block;
}

.spawn_item:hover {
	background-color: #c1c1c147;
}

.spawn_item_image {
	display: inline-block;
	width: 100%;
	height: 100px;
	background-size: 100% auto;
	background-position: 50%;
	pointer-events: none;
	background-repeat: no-repeat;
	border-radius: 1px;
}

.spawn_item_name {
	text-align: center;
	display: inline-block;
	font-size: 12px;
	margin-top: 5px;
	overflow: hidden;
	height: 30px;
	pointer-events: none;
	word-wrap: break-word;
}

#spawn_categories {
	background-color: rgba(0, 0, 0, 0.1);
	width: 60px;
	position: absolute;
	bottom: 0;
	top: 60px;
	left: 0;
	overflow-y: scroll;
}

.spawn_category {
	display: block;
	margin: 14px;
	cursor: pointer;
	text-align: center;
	background-image: url('images/chair.png');
	height: 40px;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: 50%;
}

.spawn_category.active {
	cursor: default;
	pointer-events: none;
}

#spawn_options {
	background-color: rgba(0, 0, 0, 0.1);
	width: 200px;
	position: absolute;
	bottom: 0;
	top: 60px;
	right: 0;
	overflow-y: scroll;
	overflow-x: hidden;
	display: none;
}

.spawn_option {
	padding: 15px;
	display: block;
	background-color: rgba(0, 0, 0, 0.25);
}

.spawn_option_label {
	margin-bottom: 10px;
	display: block;
}

.spawn_option_checkbox {
	display: block;
	grid-template-columns: repeat(auto-fill, 40px);
	justify-content: space-between;
	display: grid;
	grid-gap: 10px;
	max-height: 300px;
	overflow-y: scroll;
	padding: 3px;
}

.spawn_option_checkbox_item {
	width: 40px;
	height: 40px;
	display: inline-block;
	cursor: pointer;
	background-size: 100%;
}

.spawn_option_checkbox_item.selected {
	outline: 3px solid #fff;
}

#tabs {
	height: 60px;
	background-color: rgba(0, 0, 0, 0.4);
	text-align: center;
	font-size: 20px;
	overflow-y: scroll;
}

.tab {
	cursor: pointer;
	display: inline-block;
	height: 100%;
	padding: 0px 20px;
	line-height: 60px;
}

.tab.active {
	color: #e8b656;
	cursor: default;
	pointer-events: none;
}

.tab.disabled {
	color: #999999;
	cursor: default;
	pointer-events: none;
}

.tab_name {
	pointer-events: none;
}

.tab img {
	width: 25px;
	pointer-events: none;
	vertical-align: middle;
	margin: 0 10px 2px 0;
}

#label {
	background-color: #0000007d;
	position: absolute;
	bottom: -30px;
	right: 0;
	padding: 5px 10px;
	opacity: 0;
	font-size: 14px;
	height: 20px;
}

#popup_prompt {
	background-color: #000000c2;
	width: 800px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -400px;
	text-align: center;
	height: 110px;
	display: none;
}

#popup_prompt #popup_text {
	background-color: #00000077;
	font-size: 20px;
	font-family: 'Poiret One', cursive;
	height: 50px;
	line-height: 50px;
	pointer-events: none;
}

#popup_prompt #popup_input {
	width: 750px;
	height: 30px;
	margin-top: 15px;
	background: #000;
	border: none;
	color: white;
	padding: 5px;
}

#popup_prompt #popup_close {
	width: 30px;
	height: 30px;
	position: absolute;
	right: 10px;
	top: 10px;
	border: 1px solid red;
	line-height: 15px;
	color: red;
	background: transparent;
	cursor: pointer;
}

#context_menu {
	background-color: #0000005e;
	position: absolute;
	right: 30px;
	bottom: 50%;
	width: 500px;
	display: none;
}

#context_menu_header {
	background-color: #00000086;
	font-family: 'Poiret One', cursive;
	height: 50px;
	text-align: center;
	line-height: 45px;
	font-size: 25px;
	cursor: default;
}

#context_menu_close {
	position: absolute;
	right: 15px;
	color: #ff2626;
	font-family: Gothic A1;
	border: 1px solid;
	padding: 0;
	height: 30px;
	width: 30px;
	top: 10px;
	line-height: 32px;
	font-size: 20px;
	cursor: pointer;
}

#context_menu_close:hover {
	color: #b31c1c;
}

.context_menu_item {
	padding: 10px;
}

.context_menu_label {
	display: block;
	font-weight: bold;
	cursor: default;
}

#time_of_day_slide {
	width: 100%;
}

#context_menu_keybindings input {
	height: 30px;
	width: 30px;
	text-transform: uppercase;
	margin: 5px;
	text-align: center;
}

#tutorials {
	background-color: #0000003d;
	position: absolute;
	top: 30px;
	left: 30px;
	padding: 10px 15px;
	display: none;
}

#tutorial-title {
	font-size: 70px;
	font-family: 'Poiret One', cursive;
	margin-bottom: 10px;
}

#tutorial-body {
	
}

.tutorial {
	display: flex;
	line-height: 30px;
	margin: 5px 0;
}

.tutorial-key {
	height: 30px;
	margin-right: 5px;
}

#TimeOfTheDayCB {
	margin-left: 30%;
	width: 20px;
	height: 20px;
	margin-right: 5px;
}

#TimeOfTheDayLabel {
	font-size: 18px;
}

#respawn-button {
	background-color: rgba(255, 255, 255, 0.95);
	color: black;
	font-family: 'Gothic A1', sans-serif;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 70%;
	margin-left: 15%;
	font-size: 18px;
	border: solid 1px black;
}

.character_select_selectr {
	text-align: center;
	color: black;
}