* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Gothic A1', sans-serif;
	font-size: 14px;
	margin: 0px;
	padding: 0px;
	color: #ffffffe6;
	user-select: none;
}

#scoreboard {
	background-color: #0000005e;
	width: 600px;
	height: 600px;
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	overflow: auto;
	display: none;
}

#scoreboard table {
	width: 100%;
	border-collapse: collapse;
}

#scoreboard td, #scoreboard th {
	padding: 15px 20px;
	text-align: left;
}

#scoreboard_header {
	background-color: #00000086;
	font-family: 'Poiret One', cursive;
	font-size: 20px;
}

#scoreboard td {
	padding: 10px 20px;
	text-align: left;
}

#voice_chats {
	position: absolute;
	left: 30px;
	bottom: 50%;
	height: 200px;
	overflow: clip;
	display: flex;
	flex-direction: column-reverse;
	align-items: start;
	margin-bottom: 15px;
}

#spawn_menu {
	display: none;
}

.voice_chat {
	background-color: #0000003d;
	position: relative;
	margin-top: 5px;
	padding: 10px 15px 10px 45px;
	font-size: 18px;
	font-weight: normal;
	background-image: url('./images/sound.png');
	background-repeat: no-repeat;
	background-size: 20px;
	background-position: 15px 50%;
}

#notifications {
	position: absolute;
	left: 30px;
	width: 550px;
	top: 50%;
	height: 200px;
	overflow: clip;
	display: flex;
	flex-direction: column-reverse;
	align-items: start;
	margin-top: 15px;
}

.notification {
	background-color: #0000003d;
	position: relative;
	margin-top: 5px;
	padding: 10px 15px;
	font-size: 18px;
	font-weight: normal;
}

#weapon_ammo_container {
	display: none;
	position: absolute;
	right: 30px;
	bottom: 30px;
	width: 120px;
	height: 55px;
	background-color: #0000003d;
	text-align: right;
	line-height: 60px;
}

#weapon_ammo_separator {
	font-weight: bold;
	font-size: 16px;
	right: 57px;
	top: 5px;
	position: absolute;
}

#weapon_ammo_bag {
	font-weight: bold;
	font-size: 16px;
	right: 15px;
	top: 5px;
	position: absolute;
}

#weapon_ammo_clip {
	font-weight: bold;
	font-size: 32px;
	position: absolute;
	right: 67px;
}

#health_container {
	position: absolute;
	bottom: 30px;
	left: 30px;
	width: 120px;
	height: 55px;
	background-color: #0000003d;
	line-height: 60px;
}

#health_container img {
	height: 50%;
	margin: 13px;
}

#health_current {
	font-size: 27px;
	position: absolute;
	text-align: center;
	font-weight: bold;
}


#spawn_list {
	margin: 150px 175px;
	padding: 5px 10px;
	position: absolute;
	right: 0;
	left: 0;
	bottom: 0;
	overflow-y: scroll;
	overflow-x: hidden;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	top: 20px;
}

.spawn_item {
	cursor: pointer;
	width: 73px;
	padding: 5px;
	text-align: center;
	display: inline-block;
	margin: 5px 0;
	height: 105px;
	vertical-align: top;
}

.spawn_item:hover {
	background-color: #c1c1c147;
}

.spawn_item_image {
	display: inline-block;
	width: 100%;
	height: 70px;
	background-size: 100% auto;
	background-position: 50%;
	pointer-events: none;
	background-repeat: no-repeat;
}

.spawn_item_name {
	text-align: center;
	display: inline-block;
	word-break: break-all;
	font-size: 12px;
	margin-top: 5px;
	overflow: hidden;
	height: 30px;
	pointer-events: none;
}

#tabs {
	position: absolute;
	left: 0;
	margin: 110px 175px;
	top: 0;
	height: 60px;
	background-color: rgba(0, 0, 0, 0.75);
	right: 0;
	text-align: center;
	font-size: 20px;
}

.tab {
	cursor: pointer;
	display: inline-block;
	height: 100%;
	padding: 0px 20px;
	line-height: 60px;
}

.tab.active {
	color: #e8b656;
	cursor: default;
}

.tab.disabled {
	color: #999999;
	cursor: default;
	pointer-events: none;
}

.tab:hover {
}

.tab_name {
	pointer-events: none;
}

.tab img {
	width: 15px;
	pointer-events: none;
	vertical-align: middle;
	margin: 0 5px 2px 0;
}

#label {
	background-color: #0000007d;
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 5px 10px;
	opacity: 0;
	font-size: 14px;
	margin: 120px 175px;
	height: 20px;
}

#asset_packs {
	display: none;
	position: absolute;
	left: 0;
	bottom: 0;
	height: 240px;
	margin: 150px 100px;
	width: 50px;
	overflow-y: scroll;
	overflow-x: hidden;
}

.asset_pack {
	width: 50px;
	height: 50px;
	display: block;
	background-color: #484848c2;
	color: transparent;
	background-position: 50%;
	background-size: 75% auto;
	background-repeat: no-repeat;
	cursor: pointer;
}

.asset_pack:hover {
  background-color: #5b5b5bc2;
}

.asset_pack.active {
	background-color: #222222c7 !important;
	cursor: default;
}
