#tutorials {
	background-color: #0000003d;
	border-radius: 5px;
	position: absolute;
	top: 30px;
	left: 30px;
	display: none;
}

#tutorial_title {
	font-size: 4rem;
	font-family: 'Righteous', sans-serif;
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 5px 5px 0 0;
	padding: 20px;
}

#tutorial_body {
	padding: 15px;
	margin: 20px;
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.tutorial {
	display: flex;
	line-height: 30px;
}

.tutorial_key {
	height: 30px;
	margin-right: 10px;
}