#speedometer_container {
	display: none;
	position: absolute;
	right: 30px;
	bottom: 30px;
	height: 55px;
	background-color: #0000003d;
	border-radius: 5px;
	text-align: right;
	padding: 0px 10px;
	font-weight: bold;
	gap: 5px;
	align-items: center;
	font-variant-numeric: tabular-nums;
}

#speedometer_container img {
	height: 30px;
	margin-right: 10px;
}

#speedometer_speed {
	font-size: 36px;
}

.speedometer_label {
	font-size: 16px;
	margin-top: 12px;
}

#speedometer_gear {
	font-size: 24px;
	margin-top: 8px;
	margin-left: 5px;
}

#speedometer_rpm {
	font-size: 24px;
	margin-top: 8px;
	margin-left: 5px;
}