#context_menu {
	position: absolute;
	right: 30px;
	width: 350px;
	display: none;
	/* display: flex; */
	border-radius: 5px;
	bottom: 30px;
	top: 30px;
}

#context_menu_inner {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

#context_menu_header {
	background-color: #000000a2;
	font-family: 'Righteous', sans-serif;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-size: 25px;
	cursor: default;
	border-radius: 5px 5px 0 0;
}

#context_menu_close {
	position: absolute;
	right: 15px;
	color: #ff2626;
	border: 1px solid;
	border-radius: 5px;
	height: 30px;
	width: 30px;
	margin: 10px 0;
	line-height: 32px;
	font-size: 20px;
	cursor: pointer;
}

#context_menu #context_menu_items {
	overflow-y: auto;
	scrollbar-gutter: stable;
	background-color: #0000005e;
	padding: 20px;
	display: flex;
	flex-direction: column;
	gap: 20px;
    border-radius: 0 0 5px 5px;
}

#context_menu_close:hover {
	color: #b31c1c;
}

#context_menu .context_menu_item {
	padding: 5px 0;
}

#context_menu .context_menu_item_button button {
	background-color: rgba(255, 255, 255, 0.95);
	color: black;
	font-family: 'Alef', sans-serif;
	font-weight: bold;
	text-align: center;
	width: 100%;
	font-size: 16px;
	border: 0;
	cursor: pointer;
	border-radius: 5px;
	height: 35px;
}

#context_menu .context_menu_item_range,
#context_menu .context_menu_item_checkbox,
#context_menu .context_menu_item_color,
#context_menu .context_menu_item_text,
#context_menu .context_menu_item_select,
#context_menu .context_menu_item_select_image {
	display: grid;
	grid-template-columns: 3fr 7fr;
	align-items: center;
	gap: 15px;
}

#context_menu .context_menu_item_range input,
#context_menu .context_menu_item_checkbox input,
#context_menu .context_menu_item_color input,
#context_menu .context_menu_item_text input,
#context_menu .context_menu_item_text textarea,
#context_menu .context_menu_item_select select,
#context_menu .context_menu_item_select_image img {
	cursor: pointer;
	justify-self: end;
	width: 100%;
}

#context_menu .context_menu_item_text input,
#context_menu .context_menu_item_text textarea {
	cursor: text;
}

#context_menu .context_menu_item_range input {
	cursor: ew-resize;
}

#context_menu .context_menu_item_range input:hover,
#context_menu .context_menu_item_checkbox input:hover,
#context_menu .context_menu_item_color input:hover,
#context_menu .context_menu_item_text input:hover,
#context_menu .context_menu_item_text textarea:hover,
#context_menu .context_menu_item_select select:hover,
#context_menu .context_menu_item_select_image img:hover,
#context_menu .context_menu_item_button button:hover {
	filter: brightness(0.9)
}

#context_menu .context_menu_item_range label,
#context_menu .context_menu_item_checkbox label,
#context_menu .context_menu_item_text label,
#context_menu .context_menu_item_select_image label,
#context_menu .context_menu_item_select label,
#context_menu .context_menu_item_color label {
	text-align: center;
	color: #f0f0f0;
}

#context_menu .context_menu_item_checkbox input {
	flex-grow: 0;
	width: 35px;
	height: 35px;
}

#context_menu .context_menu_item_text input,
#context_menu .context_menu_item_text textarea {
	border: none;
	padding: 10px;
}

#context_menu .context_menu_item_text input,
#context_menu .context_menu_item_select select {
	height: 35px;
}

#context_menu .context_menu_item_text textarea {
	height: 70px;
	resize: none;
}

#context_menu .context_menu_item_checkbox input,
#context_menu .context_menu_item_text input,
#context_menu .context_menu_item_text textarea,
#context_menu .context_menu_item_select_image img {
	border-radius: 5px;
}

#context_menu .context_menu_item_select_image img {
	flex-grow: 0;
	width: 75px;
	height: 75px;
}

#context_menu .divider {
	display: flex;
	align-items: center;
	text-align: center;
	margin-bottom: 20px;
	font-size: 16px;
    font-family: 'Righteous', sans-serif;
}

#context_menu .divider::after,
#context_menu .divider::before {
	content: "";
	border: 1px solid #ffffff7e;
	flex: 1;
}

#context_menu .divider::before {
	margin-right: 15px;
}

#context_menu .divider::after {
	margin-left: 15px;
}

#context_menu_selector {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #0000006e;
	display: none;
	z-index: 1;
}

.context_menu_category {
    background-color: rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	padding: 20px;
}

#context_menu_selector_background {
	position: absolute;
	width: 100%;
	height: 100%;
	cursor: pointer;
}

#context_menu_selector_list {
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	max-width: 50%;
	max-height: 50%;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 5px;
	padding: 15px;
	overflow-x: hidden;
}

#context_menu_selector .context_menu_selector_item {
	cursor: pointer;
	width: 100px;
    height: 140px;
	padding: 5px;
	text-align: center;
	display: inline-block;
	border-radius: 5px;
	margin: 1px;
}

#context_menu_selector .context_menu_selector_item:hover {
	background-color: #c1c1c147;
}

#context_menu_selector .context_menu_selector_item .context_menu_selector_item_image {
	display: inline-block;
	width: 100%;
	height: 100px;
	background-size: 100% auto;
	background-position: 50%;
	pointer-events: none;
	background-repeat: no-repeat;
	border-radius: 1px;
}

#context_menu_selector .context_menu_selector_item .context_menu_selector_item_name {
	text-align: center;
	display: inline-block;
	font-size: 12px;
	margin-top: 5px;
	overflow: hidden;
	height: 30px;
	pointer-events: none;
	word-wrap: break-word;
}

#context_menu .context_menu_item_color input {
	-webkit-appearance: none;
	appearance: none;
	height: 35px;
	background-color: transparent;
	border: none;
}

#context_menu .context_menu_item_color input::-webkit-color-swatch {
	border: none;
	border-radius: 5px;
}

#context_menu .context_menu_item_color input::-webkit-color-swatch-wrapper {
	padding: 0;
}

#context_menu .context_menu_item_select select {
	border: 1px solid var(--select-border);
	border-radius: 5px;
	padding: 0.25em 0.5em;
	font-size: 1rem;
	cursor: pointer;
	line-height: 1.1;
	background-color: #fff;
}