#context_menu {
	position: absolute;
	right: 30px;
	width: 400px;
	display: none;
	/* display: flex; */
	border-radius: 5px;
	bottom: 30px;
	top: 30px;
}

#context_menu_inner {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

#context_menu_header {
	background-color: #000000a2;
	font-family: 'Righteous', sans-serif;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-size: 25px;
	cursor: default;
	border-radius: 5px 5px 0 0;
}

#context_menu_close {
	position: absolute;
	right: 15px;
	color: #ff2626;
	border: 1px solid;
	border-radius: 5px;
	height: 30px;
	width: 30px;
	margin: 10px 0;
	line-height: 32px;
	font-size: 20px;
	cursor: pointer;
}

#context_menu #context_menu_items {
	overflow-y: auto;
	scrollbar-gutter: stable;
	background-color: #00000066;
	padding: 20px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	border-radius: 0 0 5px 5px;
}

#context_menu_close:hover {
	color: #b31c1c;
}

#context_menu .context_menu_item {
	padding: 5px 0;
}

#context_menu .context_menu_item_button button {
	background-color: rgba(255, 255, 255, 0.95);
	color: black;
	font-family: 'Alef', sans-serif;
	font-weight: bold;
	text-align: center;
	width: 100%;
	font-size: 16px;
	border: 0;
	cursor: pointer;
	border-radius: 5px;
	height: 35px;
}

#context_menu .context_menu_item_container {
	display: grid;
	grid-template-columns: 4fr 6fr;
	gap: 15px;
}

#context_menu .context_menu_item_select_image_container {
	display: flex;
	background: white;
	border-radius: 5px;
	color: black;
	height: 35px;
	cursor: pointer;
	min-width: 1;
}

#context_menu .context_menu_item_range,
#context_menu .context_menu_item_checkbox,
#context_menu .context_menu_item_color,
#context_menu .context_menu_item_text,
#context_menu .context_menu_item_select,
#context_menu .context_menu_item_select_image {
	display: grid;
	grid-template-columns: 4fr 6fr;
	align-items: center;
	gap: 20px;
}

#context_menu .context_menu_item_range input,
#context_menu .context_menu_item_checkbox input,
#context_menu .context_menu_item_text input,
#context_menu .context_menu_item_text textarea,
#context_menu .context_menu_item_select select {
	cursor: pointer;
	width: 100%;
}

#context_menu .context_menu_item_text input,
#context_menu .context_menu_item_text textarea {
	cursor: text;
}

#context_menu .context_menu_item_select_image_container span {
	align-self: center;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin: 10px;
}

#context_menu .context_menu_item_range input[type="number"] {
	font-size: 13px;
	color: #d8d8d8;
}

#context_menu .context_menu_item_range input[type="range"] {
	cursor: ew-resize;
	margin: auto 0;

	-webkit-appearance: none;
	height: 10px;
	border-radius: 10px;
	background: #ffffff49;
	outline: none;
}

#context_menu .context_menu_item_range input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: white;
}

#context_menu .context_menu_item_range input[type="number"] {
	cursor: text;
	background: none;
	border: none;
	outline: none;
	height: 35px;
}

#context_menu .context_menu_item_range input[type="number"]::-webkit-outer-spin-button {
	border-radius: 5px;
}

#context_menu .context_menu_item_range input[type="number"]::-webkit-inner-spin-button {
	width: 15px;
	height: 25px;
	cursor: pointer;
}

#context_menu .context_menu_item_range input:hover,
#context_menu .context_menu_item_checkbox input:hover,
#context_menu .context_menu_item_color div:hover,
#context_menu .context_menu_item_text input:hover,
#context_menu .context_menu_item_text textarea:hover,
#context_menu .context_menu_item_select select:hover,
#context_menu .context_menu_item_select_image div:hover,
#context_menu .context_menu_item_button button:hover {
	filter: brightness(0.9)
}

#context_menu .context_menu_item_range label,
#context_menu .context_menu_item_checkbox label,
#context_menu .context_menu_item_text label,
#context_menu .context_menu_item_select_image label,
#context_menu .context_menu_item_select label,
#context_menu .context_menu_item_color label {
	text-align: left;
	color: #f0f0f0;
}

#context_menu .context_menu_item_checkbox {
	height: 35px;
}

#context_menu .context_menu_item_text input,
#context_menu .context_menu_item_text textarea {
	border: none;
	padding: 10px;
}

#context_menu .context_menu_item_text input,
#context_menu .context_menu_item_select select {
	height: 35px;
}

#context_menu .context_menu_item_text textarea {
	height: 70px;
	resize: none;
}

#context_menu .context_menu_item_checkbox input,
#context_menu .context_menu_item_text input,
#context_menu .context_menu_item_text textarea,
#context_menu .context_menu_item_select_image img {
	border-radius: 5px;
}

#context_menu .context_menu_item_select_image img {
	width: auto;
	margin: 3px;
}

#context_menu .divider {
	display: flex;
	align-items: center;
	text-align: center;
	margin-bottom: 20px;
	font-size: 16px;
	font-family: 'Righteous', sans-serif;
}

#context_menu .divider::after,
#context_menu .divider::before {
	content: "";
	border: 1px solid #ffffff7e;
	flex: 1;
}

#context_menu .divider::before {
	margin-right: 15px;
}

#context_menu .divider::after {
	margin-left: 15px;
}

#context_menu_selector {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #0000006e;
	display: none;
	z-index: 1;
}

.context_menu_category {
	background-color: #00000044;
	border-radius: 5px;
	padding: 20px;
}

#context_menu_selector_background {
	position: absolute;
	width: 100%;
	height: 100%;
	cursor: pointer;
}

#context_menu_selector_list {
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	max-width: 50%;
	max-height: 50%;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 5px;
	padding: 15px;
	overflow-x: hidden;
}

#context_menu_selector .context_menu_selector_item {
	cursor: pointer;
	width: 100px;
	height: 140px;
	padding: 5px;
	text-align: center;
	display: inline-block;
	border-radius: 5px;
	margin: 1px;
}

#context_menu_selector .context_menu_selector_item:hover {
	background-color: #c1c1c147;
}

#context_menu_selector .context_menu_selector_item .context_menu_selector_item_image {
	display: inline-block;
	width: 100%;
	height: 100px;
	background-size: 100% auto;
	background-position: 50%;
	pointer-events: none;
	background-repeat: no-repeat;
	border-radius: 1px;
}

#context_menu_selector .context_menu_selector_item .context_menu_selector_item_name {
	text-align: center;
	display: inline-block;
	font-size: 12px;
	margin-top: 5px;
	overflow: hidden;
	height: 30px;
	pointer-events: none;
	word-wrap: break-word;
	width: 100%;
}

#context_menu .context_menu_item_color input {
	-webkit-appearance: none;
	appearance: none;
	height: 35px;
	background-color: transparent;
	border: none;
	cursor: pointer;
	height: 25px;
	width: 25px;
	margin: 5px;
}

#context_menu .context_menu_item_color input::-webkit-color-swatch {
	border: none;
	border-radius: 5px;
}

#context_menu .context_menu_item_color input::-webkit-color-swatch-wrapper {
	padding: 0;
}

#context_menu .context_menu_item_select select {
	border: none;
	outline: none;
	border-radius: 5px;
	padding: 5px 10px;
	cursor: pointer;
	background-color: #fff;

	/* Custom arrow */
	appearance: none;
	background-image: url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6 9L12 15L18 9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke="currentColor"/></svg>');
	background-repeat: no-repeat;
	background-position: right 10px center;
	background-size: 18px;
}

#context_menu_hovering_entity {
	background-color: #00000056;
	border-radius: 5px;
	position: absolute;
	top: 30px;
	left: 30px;
	display: none;
	padding: 20px;
}

#context_menu_hovering_entity_label {
	font-size: 2rem;
	font-family: 'Righteous', sans-serif;
	display: block;
}

#context_menu_hovering_entity_info {
	font-size: 1rem;
	color: #ffffffcc;
}


/* Switch */
.switch {
	position: relative;
	display: inline-block;
	width: 50px;
	height: 16px;
}

/* Hide default HTML checkbox */
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #ffffff49;
	transition: .4s;
	border-radius: 34px;
}

.slider:before {
	position: absolute;
	content: "";
	height: 24px;
	width: 24px;
	bottom: -4px;
	background-color: white;
	transition: .4s;
	border-radius: 50%;
}

input:checked + .slider {
	background-color: #e2e2e2;
}

input:checked + .slider:before {
	transform: translateX(26px);
}